.episode-list-item-container {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  border-left: 5px solid var(--blue-sky)
}

.episode-image {
  margin-right: 20px;
}

.episode-meta h2 {
  font-size: 1.3rem;
  margin: 2px 0 15px;
}

.episode-meta a {
  text-decoration: none;
}