.episode-container {
  flex: 1;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
}

.episode-header {
  height: 200px;
  text-align: center;
  color: #FFF;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.close-episode-card {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--black);
  padding: 5px 10px;
}

.close-episode-card a {
  text-decoration: none;
}

.body-container .time {
  display: flex;
}

.time {
  border-bottom: 1px solid var(--granite);
}

.time .timepoint {
  padding: 10px 20px;
}

.tags {
  padding: 10px 20px;
  border-bottom: 1px solid var(--granite);
}

.tagslist {
  list-style: none;
  display: inline;
  padding: 0;
}

.tagslist:first-child {
  margin-left: 20px;
}

.tagslist li {
  display: inline;
  margin: 0 5px;
  padding: 3px 7px;
  background-color: var(--granite);
  border-radius: 3px;
}

.episode-content {
  padding: 20px;
}

.episode-desc {
  margin-bottom: 20px;
}

.episode-actions {
  display: flex;
  justify-content: center;
}

.attend-button {
  font-size: 1.2rem;
  padding: 12px 20px;
  border: none;
  background-color: var(--pine);
  color: white;
}