@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --blue-sky: #4CB5F5;
  --pine: #34675C;
  --granite: #B7B8B6;
  --fields: #B3C100;
  --black: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: var(--black);
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: underline;
  color: var(--black);
  font-weight: 700;
}